<!DOCTYPE HTML>
<html>
<head>
<title>Pixie's Dog Treats | Products</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/script.js" type="text/javascript"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!--light box-->
<script src="js/superfish.js"></script>
<script type="text/javascript" src="js/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="css/lightbox.css" media="screen">
	<script type="text/javascript">
		$(function() {
			$('.gallery a').lightBox();
		});
   </script>	
</head>
<body>
<div class="header">	
     <div class="header-top">
		<div class="wrap">
	           <div class="logo">
			     <h1><a href="index.html">Pixie's Dog Treats</a></h1>
			   </div>
		 	  <div class="menu">
			   		<ul>
						<li class=""><a href="index.html">Home</a></li>
						<li class=""><a href="about.html">About</a></li>
						<li class="active"><a href="products.html">Products</a></li>
						<li class=""><a href="contact.html">Contact</a></li>
					</ul>
					<div class="clear"></div>
	   		  	</div>
		 	  <div class="clear"></div> 
	    </div>
	</div>
	<div class="header-bottom">
		<div class="wrap"> 
		    <div class="section group example">
				<div class="col_1_of_header span_1_of_header">
				   <img src="images/banner1.jpg" alt=""/>
 				</div>
				<div class="col_1_of_header span_1_of_header">
				   <h3>Welcome to Pixies Dog Treats</h3>
				   <p>Since starting in 2008 Pixie's Dog Treats have been providing quality dog treats for training and special occasions.  We have a great assortment of all organix treats as well.</p>
				</div>
				<div class="clear"></div> 
		    </div>
		 </div>
	</div>
</div>
<div id="products" class="main">
 	<div class="top-box">
	  <div class="wrap">
		 <div class="content-top">
		 	    <div class="heading4">
				 	<h2>Our Products</h2>
				</div>
			     <div class="section group">
					<div v-for="product in products" class="grid_1_of_4 images_1_of_4">
						<img v-bind:src="'images/products/'+product.image" alt="" width="100px"><span class="zoom-icon"></span>
						<div class="service-box">
							<h4>{{ product.name }}</h4>
							<p>{{ product.desc }}</p>
							<p>{{ product.price}}</p>
							<a v-if="isLoggedIn"href="#" class="link" v-on:click="addToCart(product.itemNo, $event)">Add To Cart</a>
						</div>
					</div>
					<div class="clear"></div> 
		   		</div>
		   </div>
	   </div>
	</div>
</div>
  <div class="footer">
	<div class="wrap">
		 <div class="section group">
				<div class="col_1_of_3 span_1_of_3">
					 <div class="f-logo">
			           <h1><a href="index.html">Pixie's Dog Treats</a></h1>
		 	        </div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					&nbsp;
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<ul class="list3">
						<li>
							<img src="images/home.png" alt="">
							<div class="extra-wrap">
							<p>1 Doggy Way<br>Silicon Valley, CA</p>
							</div>
						</li>
						<li class="last">
							<img src="images/phone.png" alt="">
							<div class="extra-wrap">
							<p><span>Telephone:</span>+1 555 555 1234</p>
							<p><span>FAX:</span>+1 555 555 1235</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="clear"></div> 
	      </div>
	</div>
	<div class="footer-bot">
		<div class="wrap">
			<p>Copyright 2018 All Rights Reserved. Pixie's Dog Treats LLC.</p>
           <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
	  </div>
	</div>
	</div>	
	<script src="js/app.js" type="text/javascript"> </script>
</body>
</html>